.menu {
    color: rgba(134, 56, 134, 0.781);
    font-size: 36px;
    text-decoration: none;
    height: 74px;
    margin-bottom: 16px;
    padding-top: 16px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    background-color: rgb(0, 89, 255);
}

.marcas:hover {
    color: red;
}

.modelos:hover {
    color: red;
}

.transmissoes:hover {
    color: red;
}

.acessorios:hover {
    color: red;
}

.link {
    margin-left: 48px;
}