header{
	padding:0;
	background-color: #ec135c;
	height: 80px;
    margin-bottom: 10px; 
}

#logo{width: auto;height: 60px;float:left;margin: 8px;}

nav{float: right; font-size: 15px; color:#fff; }	
nav ul{margin:30px 15px 0 0;}
nav ul li{list-style:none; display:inline; padding:10px; border: 1px dashed #fff; background-color: #742d52;margin: 4px;}
#banner{
	margin:1px 0px 20px 0px;
	float: left;
	background-color: #5e555d;
	width: 100%;
	height: 180px;
}
