/*reset*/

a{text-decoration: none; }

ul{list-style: none;}

img{max-width: 100%}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}

/*Cabeçalho*/
.cabecalho{
	width: 100%;
	float: left;
	padding: 3% 4%;
}

.logo{
	width: 80px; height: 80px; float: left; background: url(../img/logo.jpg) center center/56px no-repeat; font-size: 0;
}

.btn-menu{
		width: 50px; 
		height: 50px; 
		float: right; 
		text-align: center; 
		color: #fff; 
		border-radius: 56px; 
		cursor: pointer; 
		background: linear-gradient(to right, #16466a, #81929c);
		border: 0px;
		margin-top: 4%;
	}

.menu{
	width: 100%; 
	height: 100%; 
	position: fixed; 
	background-color: rgba(22, 70, 106, 0.9);
	top:0;
	left: 0;
	display: none;
}

.btn-close{
	font-size: 2em;
    color: #fff;
    float: right;
    cursor: pointer;
    margin-right: 9%;
    margin-top: 16px;
}

.menu ul{ 
	width: 100%;
	float: left;
	text-align: center;
}
.menu li{padding: 1.5%;}

.menu li a{font-size: 2em; color: #fff; padding: 1.5% 3%;     font-weight: bold;}

.menu li a:hover{border: 1px solid #fff; background-color: #16466a;}

/*BANNER*/
figure{
	width: 100%;
	float: left;
	text-align: center;
	padding: 3% 4%;
	background: url(../img/dog-00.jpg) no-repeat fixed;
	background-size: cover;
}

figure h2{
	font-size: 2.5em; 
	color:#2c8cc1;
	font-weight: 700;
	margin-bottom: 5%;
}

figcaption{width: 100%}
figure p{
	font-size: 1.5em; 
	color:#16466a;
	font-weight: 300;
	margin-bottom: 5%;
	font-family: arial;
}

.buttons{width: 100%;}

.btn{
	width: 100%;
    font-size: 2.0em;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #333;
    padding: 5%;
    font-family: 'Raleway', sans-serif;
}

.btn-cadastrar{
    background-color: #81929c; 
    color: #fff;
 } 

.btn-sobre{background-color: #16466a; margin-top: 2%; color:#fff;}

.buttons i{float: right;}

/*serviços*/
.servicos{
	width: 100%;
	float: left;
	padding: 3% 4%;
	background-color: #e3e4e6;
	border-radius: 7px;
	margin-bottom: 3%;
}

.servicos img{border-radius: 7px 7px  0 0}

.servicos .texto {
	padding: 7%;
}
.servicos .texto h4{
	color: #16466a;
	font-size: 1.2em;
	font-weight: 700;
}
.servicos .texto p{
	margin-top: 6% ; color: #666;     font-style: italic;

}

footer{
	padding: 3% 4%;
	background-color: #16466a;
	text-align: center;
	width: 100%;
	float: left;
}

footer .social-icones a{
	color: rgba(255,255,255, 0.7);
	padding: 5%;
	font-size: 1.5em;
}

footer .social-icones a:hover{
	color: rgba(255,255,255, 1);
}

/*mobile first*/

@media print{

}

/*smartphone*/
@media screen and (min-width: 480px){
	.logo{
	width: 56px; height: 56px; float: left; background: url(../img/logo.jpg) center center/56px no-repeat; 
	}

}

/*tablet*/
@media screen and (min-width: 560px){

	.logo {
		width: 161px;
    	height: 100px;
    	float: left;
    	background: url(../img/logo_large.jpg) center center/150px no-repeat;
	}

	.btn-menu {
		visibility: hidden;
	}

	.menu{
		width: 100%;
		height: 100%;
		position: relative;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-start;
		background-color: rgba(22, 70, 106, 0.9);
		top:0;
		left: 0;
	}

	.btn-close{
		visibility: hidden;
	}
	
	.menu ul{ 
		width: auto;
		list-style-type: none;
	}

	.menu li{list-style: none; padding: 0;}
	
	.menu li a{font-size: 2em; color: #fff; padding: 1.5% 3%; font-weight: bold;}
	
	.menu li a:hover{border: 1px solid #fff; background-color: #16466a;}

	/*BANNER*/
	/* TO DO */
	figure{
		width: 100%;
		float: left;
		text-align: left;
		padding: 3% 4%;
		background: url(../img/dog-00.jpg) no-repeat fixed;
		background-size: cover;
	}

	figure h2{
		font-size: 2.5em; 
		color:#2c8cc1;
		font-weight: 700;
		margin-bottom: 5%;
	}

	figcaption{width: 100%}

	figure p{
		font-size: 1.5em; 
		color:#16466a;
		font-weight: 300;
		margin-bottom: 5%;
		font-family: arial;
	}

	.buttons{width: 100%;}

	.btn{
		width: 300px;
		float: right;
		font-size: 2.0em;
		text-align: left;
		cursor: pointer;
		border-radius: 10px;
		border: 1px solid #333;
		padding: 20px;
		font-family: 'Raleway', sans-serif;
	}

	.btn-cadastrar{
		background-color: #81929c; 
		color: #fff;
	} 

	.btn-sobre{background-color: #16466a; margin-top: 2%; color:#fff;}

	/*serviços*/
	.servicos{
		width: 25%;
		float: left;
		padding: 3% 4%;
		background-color: #e3e4e6;
		border-radius: 7px;
		margin-bottom: 3%;
	}

	.servicos img{border-radius: 7px 7px  0 0}

	.servicos .texto {
		padding: 7%;
	}
	.servicos .texto h4{
		color: #16466a;
		font-size: 1.2em;
		font-weight: 700;
	}

	.servicos .texto p{
		margin-top: 6% ; color: #666;     font-style: italic;
	}

	footer{
		padding: 3% 4%;
		background-color: #16466a;
		text-align: center;
		width: 100%;
		float: left;
	}

	footer .social-icones a{
		color: rgba(255,255,255, 0.7);
		padding: 5%;
		font-size: 1.5em;
	}

	footer .social-icones a:hover{
		color: rgba(255,255,255, 1);
	}
}
