.box {
    width: 100%;
}

.left {
    width: 49%;
    float: left;
    text-align: end;
}

button {
    font-size: 30px;
    padding: 28px;
    border: 1px solid rgb(255, 255, 255);
}

.verde {
    background-color: green;
}

.amarelo {
    background-color: yellow;
}

.vermelho {
    background-color: red;
}

.right {
    width: 49%;
    float: right;
}

.mensagem {
    font-size: 30px;
    text-transform: uppercase;
}