@font-face {
    font-family: "Voga";
    src: url("./fonts/Voga/CDType\ -\ Voga\ Medium.otf");
}

@font-face {
    font-family: "Gorgeous";
    src: url("./fonts/Gorgeous/Gorgeous_Free_Version/Gorgeous-Medium.ttf");
}

@font-face {
    font-family: "Penna";
    src: url("./fonts/Penna/penna.ttf");
}

@font-face {
    font-family: "Amatic";
    src: url("./fonts/Amatic_SC/AmaticSC-Regular.ttf");
}